@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Gurmukhi:wght@400;600;700&family=Inter:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0D0D0D;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}
